/* Layout.css for modified mrbs 1.2.5 */
/* Frank Schiebel <schiebel@aeg-reutlingen.de> */

/* Layout */
body {margin:10px; border:0; padding:0; font: 1em  arial, helvetica, sans-serif;}
div#headermenu {width: 100%; background: #dedeef; border-bottom: 1px solid black;}
div#footer {background: #dedeef; border-top: 1px solid black; margin-top: 5px;padding: 0 0 0 10px;}
hr {clear: both; visibility: hidden;}
.header {float: left; padding: 5px 10px 3px 5px;}
div.areas {width: 22%; float:left;}
div.items {width: 22%; float:left;}
table.calendar {float: left; font-size: 65%; margin-left: 20px;}
table.cssbordertable {border-top: 1px solid black; border-left: 1px solid black;}
table.cssbordertable td {border-right: 1px solid black; border-bottom: 1px solid black; padding: 2px;}
table.cssbordertable th {border-right: 1px solid black; border-bottom: 1px solid black; padding: 2px;}
table.cssbordertable td td.naked {border: 0;}

/* "Design" can be overwritten in mrbs_usermod.css*/
.active {font-weight: bold;}
div#toplogo {background: transparent url("pics/mrbs_logo.png") top left no-repeat; height: 55px; width: 200px;}
div#topcompany a {display: block; margin: 0 0 5px 20px; padding: 0; font-size: 110%; text-decoration: none; font-weight:bold;}
div.items h2, div.areas h2 {font-size: 1.3em;}
h1 {text-align:center;}
.active {text-decoration:none;width:90%;display: block; border: 1px solid black; background: #FFE980; padding: 2px;}
ul li a {display: block; padding: 2px; width:90%;}
ul li {margin-top: 3px;}
.calendarHighlight {background:#91ac41;}
div.adminareas ul li a {display: inline;}
div.adminitems ul li a {display: inline;}
div.adminitems, div.adminareas {float:left; margin-right: 30px;}
div.adminitems {border-left: 1px solid black; padding-left:10px;}
div#helptext {width: 45em;}
div#helptext p {margin-left: 2em;}
a.helplink {padding-left:19px; background: transparent url("pics/help.gif") top left no-repeat;}
a.reportlink {padding-left:19px; background: transparent url("pics/report.gif") top left no-repeat;}
a.adminlink {padding-left:19px; background: transparent url("pics/config.gif") top left no-repeat;}

/* Formulare allgemein */
form {padding:0; margin:0;}

input, textarea {
  background: #eee;
  border-color: #999 #fff #fff #999;
  border-style: solid;
  border-width: 1px;
  margin: 1px 0 1px 0;
  padding: 1px;
}
input:focus, textarea:focus {
  background: #fff2d3;
}


a {color: #08143F;}
a:link {color: #08143F;}
a:visited {color: #08143F;}
a:hover {color: #666;}
a:active {color: #08143F;}

/* Intern, Extern, Wartung */
.E {background: #D9E696;}
.F {background: #FFE980;}
.G {background: #E7A8AB;padding:0;}

div.areas ul {list-style:none; text-indent:0; margin:0; padding:0;}
div.items ul {list-style:none; text-indent:0; margin:0; padding:0;}


